body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}
.wrapper {
  background: #111115;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
.inner {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}
.none {
  display: none;
}
.header {
  background-color: #111115;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  z-index: 10;
}
@media (min-width: 640px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 940px;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  .header {
    max-width: 1160px;
  }
}
.logo {
  text-align: center;
  display: inline-block;
  width: 42px;
  position: relative;
  margin-right: 60px;
}
@media (min-width: 1200px) {
  .logo {
    width: 82px;
  }
}
.logo__img {
  position: absolute;
  width: 4px;
  height: 13px;
  left: -2px;
  top: 9px;
}
@media (min-width: 1200px) {
  .logo__img {
    position: absolute;
    width: 13px;
    height: 25px;
    left: 8px;
    top: 24px;
  }
}
.logo__text {
  font-family: "Roboto-Regular";
  font-size: 12px;
  color: #fff;
  padding-top: 3px;
  line-height: 1.3;
}
@media (min-width: 1200px) {
  .logo__text {
    font-size: 19px;
    line-height: 1.3;
  }
}
@media (min-width: 1200px) {
  .logo {
    border: 1px solid #ffffff;
    border-radius: 2px;
  }
}
.nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
@media (min-width: 1200px) {
  .nav {
    display: flex;
  }
}
.nav__item {
  margin-right: 58px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item-link {
  font-family: "Roboto-Medium";
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.nav .active {
  color: orange;
  cursor: default;
}
.header:after {
  content: url("../assets/icons/burger-menu.svg");
  display: block;
  position: absolute;
  right: 10px;
  top: 12px;
}
@media (min-width: 1200px) {
  .header:after {
    display: none;
  }
}
.flex-box {
  display: flex;
  align-items: center;
}
.top-section {
  background-color: #000;
  background-image: url("../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 60% left 0;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 460px) {
  .top-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 600px) {
  .top-section {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .top-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1600px) {
  .top-section {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}
.top-section .flex-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}
@media (min-width: 640px) {
  .top-section .flex-wrapper {
    display: block;
  }
}
@media (min-width: 1200px) {
  .top-section .flex-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .top-section__content {
    text-align: center;
    margin-right: 85px;
  }
}
@media (min-width: 1600px) {
  .top-section__content {
    margin-right: 0;
  }
}
.top-section__text {
  max-width: 130px;
  float: right;
}
@media (min-width: 640px) {
  .top-section__text {
    max-width: 255px;
  }
}
@media (min-width: 1200px) {
  .top-section__text {
    max-width: 400px;
    height: 400px;
    float: none;
  }
}
@media (min-width: 1600px) {
  .top-section__text {
    max-width: 500px;
    height: 400px;
    float: none;
  }
}
.top-section__text-title {
  font-family: "Roboto-Bold";
  font-size: 28px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 640px) {
  .top-section__text-title {
    font-family: "Roboto-Bold";
    font-weight: 700;
    fonst-style: normal;
    font-size: 54px;
    line-height: 0.8;
  }
}
@media (min-width: 1200px) {
  .top-section__text-title {
    font-family: "Roboto-Bold";
    font-weight: 700;
    fonst-style: normal;
    font-size: 85px;
    text-align: center;
  }
}
@media (min-width: 1600px) {
  .top-section__text-title {
    font-family: "Roboto-Bold";
    font-size: 106.5px;
    line-height: 79px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}
.top-section .important-text {
  font-family: "Roboto-Bold";
  font-size: 28px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 640px) {
  .top-section .important-text {
    font-family: "Roboto-Bold";
    font-weight: 700;
    fonst-style: normal;
    font-size: 54px;
    line-height: 40px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .top-section .important-text {
    font-family: "Roboto-Bold";
    font-weight: 700;
    fonst-style: normal;
    font-size: 85px;
    line-height: 0.8;
    text-align: center;
  }
}
@media (min-width: 1600px) {
  .top-section .important-text {
    font-family: "Roboto-Bold";
    font-size: 106.5px;
    line-height: 0.8;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}
.top-section__btn {
  display: none;
}
@media (min-width: 640px) {
  .top-section__btn {
    font-family: "Roboto-Medium";
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border-radius: 25px;
    outline: none;
    border: none;
    background: #f9804b;
    text-transform: uppercase;
    padding: 20px 0px;
    width: 298px;
    text-align: center;
    margin-top: 200px;
    transition: all 0.6s ease-out;
  }
}
@media (min-width: 1200px) {
  .top-section__btn {
    margin-top: 0;
  }
}
@media (min-width: 1600px) {
  .top-section__btn {
    margin-top: 53px;
  }
}
.top-section__btn:hover {
  background: #4b9200;
  transition: all 0.6s ease-out;
}
.bg-orange {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -20px;
  right: 28px;
  z-index: -1;
}
@media (min-width: 640px) {
  .bg-orange {
    width: 237px;
    height: 237px;
    top: -35px;
    right: 60px;
  }
}
@media (min-width: 1200px) {
  .bg-orange {
    width: 367px;
    height: 367px;
    top: -36px;
    right: 168px;
  }
}
@media (min-width: 1600px) {
  .bg-orange {
    width: 465px;
    height: 465px;
    top: -75px;
    right: 108px;
  }
}
.features {
  padding-top: 25px;
  padding-bottom: 40px;
}
@media (min-width: 640px) {
  .features {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .features {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 145px;
  }
}
@media (min-width: 1600px) {
  .features {
    padding-top: 148px;
    padding-bottom: 145px;
    max-width: 1160px;
    margin: 0 auto;
  }
}
@media (min-width: 640px) {
  .features__content {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .features__content {
    max-width: 1160px;
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .features__content {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 640px) {
  .features__text-content {
    max-width: 460px;
  }
}
@media (min-width: 1200px) {
  .features__text-content {
    max-width: 454px;
  }
}
@media (min-width: 1600px) {
  .features__text-content {
    max-width: 465px;
  }
}
.features .cap-small {
  display: none;
}
@media (min-width: 1200px) {
  .features .cap-small {
    display: block;
  }
}
@media (min-width: 1600px) {
  .features .cap-small {
    display: none;
  }
}
.features .cap-big {
  display: none;
}
@media (min-width: 1600px) {
  .features .cap-big {
    display: block;
  }
}
.features__title {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 24px;
  color: #333b41;
  letter-spacing: -1px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 300px;
}
@media (min-width: 640px) {
  .features__title {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 48px;
    color: #333b41;
    letter-spacing: -1px;
    margin-bottom: 20px;
    max-width: 455px;
  }
}
@media (min-width: 1200px) {
  .features__title {
    margin-top: -10px;
    line-height: 57px;
  }
}
.features__subtitle {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 1.3;
  letter-spacing: 0.1px;
  color: #333b41;
  max-width: 300px;
}
@media (min-width: 640px) {
  .features__subtitle {
    margin-bottom: 30px;
    max-width: 455px;
  }
}
@media (min-width: 1200px) {
  .features__subtitle {
    letter-spacing: 0;
    font-size: 16px;
  }
}
.features__desc-title {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 24px;
  color: #333b41;
  margin-top: 20px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .features__desc-title {
    margin-top: 50px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1600px) {
  .features__desc-title {
    margin-top: 60px;
    margin-bottom: 45px;
  }
}
.features__desc-subtitle {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: #333b41;
  margin-top: 12px;
  max-width: 277px;
}
@media (min-width: 640px) {
  .features__desc-subtitle {
    max-width: 495px;
  }
}
@media (min-width: 1200px) {
  .features__desc-subtitle {
    max-width: 415px;
  }
}
@media (min-width: 1600px) {
  .features__desc-subtitle {
    max-width: 425px;
  }
}
.features__btn {
  font-family: "Roboto-Medium";
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border-radius: 25px;
  outline: none;
  border: none;
  background: #f9804b;
  text-transform: uppercase;
  padding: 20px 0px;
  width: 298px;
  text-align: center;
  transition: all 0.6s ease-out;
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .features__btn {
    display: none;
  }
}
.flower {
  background-repeat: no-repeat;
  background-position: top 13% right -4px;
  background-image: url("../assets/images/little-flower.png");
}
@media (min-width: 640px) {
  .flower {
    ackground-repeat: no-repeat;
    background-position: top 12% right -4px;
    background-image: url("../assets/images/tablet-flower.png");
  }
}
@media (min-width: 1200px) {
  .flower {
    background-image: none;
  }
}
@media (min-width: 1600px) {
  .flower {
    background-repeat: no-repeat;
    background-position: top 10px right;
  }
}
@media (min-width: 1600px) and (min-width: 1600px) {
  .flower {
    background-image: url("../assets/images/flower-foto.png");
  }
}
.animal-cards {
  position: relative;
  padding-bottom: 60px;
}
.animal-cards__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 640px) {
  .animal-cards__wrapper {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .animal-cards__wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  .animal-cards__wrapper {
    max-width: 1160px;
    margin: 0 auto;
  }
}
@media (min-width: 640px) {
  .animal-cards .inner {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .animal-cards .inner {
    max-width: 1160px;
    display: flex;
    justify-content: center;
  }
}
.animal-cards .text-info {
  position: relative;
  background-color: #fff;
}
.animal-cards__item {
  border: 1px solid #fe9013;
  border-radius: 5px;
  max-width: 285px;
  margin-bottom: 18px;
  overflow: hidden;
  display: block;
  position: relative;
}
@media (min-width: 640px) {
  .animal-cards__item {
    margin-bottom: 92px;
  }
}
@media (min-width: 1200px) {
  .animal-cards__item {
    max-width: 293px;
    justify-content: space-around;
  }
}
@media (min-width: 1600px) {
  .animal-cards__item {
    max-width: 366px;
    margin-bottom: 18px;
  }
}
.animal-cards__item--none {
  display: none;
}
@media (min-width: 1200px) {
  .animal-cards__item--none {
    display: block;
  }
}
@media (min-width: 1200px) {
  .animal-cards .sloth {
    display: none;
  }
}
@media (min-width: 1600px) {
  .animal-cards .sloth {
    display: block;
  }
}
.animal-cards__img {
  display: block;
  transition: all 0.6s ease-out;
}
.animal-cards__img:hover {
  transform: scale(1.1);
}
.animal-cards__name {
  font-family: "Roboto-Medium";
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  padding-left: 15px;
  padding-top: 11px;
}
@media (min-width: 1200px) {
  .animal-cards__name {
    font-size: 16px;
  }
}
.animal-cards__location {
  font-family: "Roboto-Light";
  font-size: 11px;
  color: #000;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 15px;
  position: relative;
}
@media (min-width: 1200px) {
  .animal-cards__location {
    font-size: 15px;
  }
}
.animal-cards__food-icons {
  position: absolute;
  right: 6px;
  bottom: 0;
  width: 37px;
  height: 29px;
}
@media (min-width: 640px) {
  .animal-cards__food-icons {
    width: 48px;
    height: 38px;
    right: 13px;
  }
}
@media (min-width: 600px) {
  .animal-cards__btn-wrapper {
    text-align: center;
  }
}
.animal-cards__btn {
  font-family: "Roboto-Medium";
  display: inline-block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border-radius: 25px;
  outline: none;
  border: none;
  background: #fe9013;
  text-transform: uppercase;
  padding: 20px 0px;
  width: 300px;
  text-align: center;
  margin-top: 10px;
  transition: all 0.6s ease-out;
  letter-spacing: 1px;
}
@media (min-width: 640px) {
  .animal-cards__btn {
    margin-top: -60px;
  }
}
@media (min-width: 1600px) {
  .animal-cards__btn {
    margin-top: 60px;
  }
}
.animal-cards__btn:hover {
  background: #4b9200;
  transition: all 0.6s ease-out;
}
.ornamental-plant {
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url("../assets/images/little-strelitzia.png");
}
@media (min-width: 640px) {
  .ornamental-plant {
    background-image: url("../assets/images/middle-strelitzia.png");
  }
}
@media (min-width: 1200px) {
  .ornamental-plant {
    background-image: url("../assets/images/small-strelitzia.png");
  }
}
@media (min-width: 1600px) {
  .ornamental-plant {
    background-image: url("../assets/images/strelitzia.png");
  }
}
.palm {
  background-repeat: no-repeat;
  background-position: bottom left;
  background-image: url("../assets/images/little-palm.png");
}
@media (min-width: 640px) {
  .palm {
    background-image: url("../assets/images/middle-palm.png");
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .palm {
    background-image: url("../assets/images/small-palm.png");
    padding-bottom: 140px;
  }
}
@media (min-width: 1600px) {
  .palm {
    background-image: url("../assets/images/palm-foto.png");
    padding-bottom: 100px;
  }
}
@media (min-width: 1600px) {
  .d-none {
    display: none;
  }
}
.inner:after {
  content: "";
  display: block;
  position: absolute;
  background: #f9804b;
  width: 62px;
  height: 62px;
  background-image: url("../assets/icons/left.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
@media (min-width: 640px) {
  .inner:after {
    display: block;
    top: 41%;
    left: 37.2%;
  }
}
@media (min-width: 1200px) {
  .inner:after {
    top: 41.3%;
    left: 37.4%;
  }
}
@media (min-width: 1600px) {
  .inner:after {
    top: 45.5%;
    left: -7%;
  }
}
.inner:before {
  content: "";
  display: block;
  position: absolute;
  background: #f9804b;
  width: 62px;
  height: 62px;
  background-image: url("../assets/icons/right.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 640px) {
  .inner:before {
    display: block;
    top: 41%;
    right: 37.2%;
  }
}
@media (min-width: 1200px) {
  .inner:before {
    top: 41.3%;
    right: 37.3%;
  }
}
@media (min-width: 1600px) {
  .inner:before {
    top: 45.5%;
    right: -7%;
  }
}
.feed-animals {
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  opacity: 0.9;
}
@media (min-width: 640px) {
  .feed-animals {
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .feed-animals {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1600px) {
  .feed-animals {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
.feed-animals .text-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .feed-animals .text-wrapper {
    max-width: 1160px;
  }
}
.feed-animals__title {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 24px;
  color: #fe9013;
  text-align: center;
}
@media (min-width: 640px) {
  .feed-animals__title {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .feed-animals__title {
    font-size: 48px;
  }
}
@media (min-width: 1600px) {
  .feed-animals__title {
    letter-spacing: 1.3px;
  }
}
.feed-animals__slogan {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 18px;
  color: #333b41;
  letter-spacing: 5;
  text-align: center;
}
@media (min-width: 640px) {
  .feed-animals__slogan {
    font-size: 22px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .feed-animals__slogan {
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .feed-animals__slogan {
    padding-left: 50px;
  }
}
.feed-animals__covid-team {
  display: inline-block;
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 16px;
  color: #333b41;
  margin-top: 8px;
  display: none;
}
@media (min-width: 640px) {
  .feed-animals__covid-team {
    display: block;
  }
}
@media (min-width: 1200px) {
  .feed-animals__covid-team {
    display: block;
    padding-right: 45px;
  }
}
@media (min-width: 1600px) {
  .feed-animals__covid-team {
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 0;
  }
}
.feed-animals__subtitle {
  max-width: 960px;
  margin-top: 13px;
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #333b41;
  display: none;
}
@media (min-width: 640px) {
  .feed-animals__subtitle {
    display: block;
  }
}
@media (min-width: 1600px) {
  .feed-animals__subtitle {
    padding-left: 50px;
    padding-right: 40px;
  }
}
.feed-animals__link {
  color: #333b41;
  border-bottom: 1px solid #fe9013;
  padding-bottom: 2px;
}
.feed-animals__flex {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 640px) {
  .feed-animals__flex {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .feed-animals__flex {
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}
@media (min-width: 1600px) {
  .feed-animals__flex {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}
.feed-animals__widget {
  max-width: 172px;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .feed-animals__widget {
    margin-bottom: 0;
  }
}
.feed-animals__widget--mb {
  margin-bottom: 25px;
}
.feed-animals__flex:after {
  content: url("../assets/icons/right-arrow.svg");
  position: absolute;
  right: 65%;
  top: 25%;
  display: none;
}
@media (min-width: 1200px) {
  .feed-animals__flex:after {
    display: block;
  }
}
.feed-animals .arrow-wrapper:after {
  content: url("../assets/icons/arrow-green.svg");
  display: block;
  position: absolute;
  right: 3%;
  top: 36.5%;
}
@media (min-width: 640px) {
  .feed-animals .arrow-wrapper:after {
    display: none;
  }
}
.feed-animals .arrow-wrapper:before {
  content: url("../assets/icons/arrow-green.svg");
  display: block;
  position: absolute;
  right: 3%;
  bottom: 32.5%;
}
@media (min-width: 640px) {
  .feed-animals .arrow-wrapper:before {
    display: none;
  }
}
.feed-animals__flex:before {
  content: url("../assets/icons/right-arrow.svg");
  position: absolute;
  left: 65%;
  top: 25%;
  display: none;
}
@media (min-width: 1200px) {
  .feed-animals__flex:before {
    display: block;
  }
}
.feed-animals__widget-title {
  font-family: "Roboto-Regular";
  font-size: 24px;
  color: #333b41;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 640px) {
  .feed-animals__widget-title {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .feed-animals__widget-title {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1600px) {
  .feed-animals__widget-title {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 35px;
  }
}
.feed-animals__widget-text {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #333b41;
  margin-top: 12px;
}
@media (min-width: 640px) {
  .feed-animals__widget-text {
    margin-top: 33px;
  }
}
.feed-animals__icons--pay {
  display: inline-block;
  padding: 55px 30px;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #fe9013;
  border-radius: 5px;
}
.feed-animals__icons--zoo {
  display: inline-block;
  padding: 34px 40px;
  padding-bottom: 40px;
  background-color: #fff;
  border: 1px solid #fe9013;
  border-radius: 5px;
}
@media (min-width: 640px) {
  .feed-animals__icons--zoo:after {
    content: url("../assets/icons/arrow-x.svg");
    display: block;
    position: absolute;
    right: 92%;
    top: -7%;
  }
}
@media (min-width: 640px) and (min-width: 1200px) {
  .feed-animals__icons--zoo:after {
    display: none;
  }
}
.feed-animals__icons--monkey {
  display: inline-block;
  padding: 48px 22px;
  background-color: #fff;
  border: 1px solid #fe9013;
  border-radius: 5px;
}
@media (min-width: 640px) {
  .feed-animals__icons--monkey:after {
    content: url("../assets/icons/arrow-x.svg");
    display: block;
    position: absolute;
    right: 92%;
    top: -7%;
  }
}
@media (min-width: 1200px) {
  .feed-animals__icons--monkey:after {
    display: none;
  }
}
@media (min-width: 640px) {
  .feed-animals__btn-wrap {
    display: flex;
    justify-content: center;
  }
}
.feed-animals__btn {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 0px;
  width: 300px;
  text-align: center;
  background: #f9804b;
  border-radius: 25px;
  transition: all 0.6s ease-out;
  position: absolute;
  bottom: 4%;
  left: 0;
}
@media (min-width: 640px) {
  .feed-animals__btn {
    position: static;
  }
}
.feed-animals__btn:active {
  background: #4b9200;
}
.feed-animals__btn:hover {
  background: #4b9200;
  transition: all 0.6s ease-out;
}
.bg-color {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(4px);
  border-radius: 17px;
  padding-top: 45px;
  padding-bottom: 110px;
  max-width: 300px;
}
@media (min-width: 640px) {
  .bg-color {
    max-width: 100%;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .bg-color {
    padding-bottom: 60px;
    max-width: 940px;
    padding-left: 50px;
    padding-right: 30px;
  }
}
@media (min-width: 1600px) {
  .bg-color {
    max-width: 1160px;
    padding-bottom: 60px;
  }
}
.testimonials {
  padding-top: 33px;
  padding-bottom: 60px;
  background-color: #fff;
}
@media (min-width: 640px) {
  .testimonials {
    padding-top: 63px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .testimonials {
    padding-top: 110px;
    padding-bottom: 140px;
  }
}
@media (min-width: 1600px) {
  .testimonials {
    padding-top: 140px;
    padding-bottom: 180px;
  }
}
.testimonials__title {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 36px;
  color: #333b41;
  text-align: center;
  padding-bottom: 25px;
}
@media (min-width: 640px) {
  .testimonials__title {
    padding-bottom: 30px;
  }
}
@media (min-width: 1600px) {
  .testimonials__title {
    padding-bottom: 47px;
  }
}
.testimonials__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .testimonials__wrapper {
    max-width: 960px;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1600px) {
  .testimonials__wrapper {
    max-width: 1160px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .testimonials .container--padding-no {
    padding: 0;
  }
}
.testimonials__user-review-card {
  position: relative;
  max-width: 600px;
  height: 110px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background: #f1f3f2;
  border: 2px solid rgba(255, 105, 180, 0.5);
  border-radius: 15px;
  z-index: 1;
  margin-bottom: 15px;
}
.testimonials__user-review-card--d-none {
  display: none;
}
@media (min-width: 1600px) {
  .testimonials__user-review-card--d-none {
    display: block;
  }
}
@media (min-width: 1200px) {
  .testimonials__user-review-card {
    overflow: visible;
    width: 293px;
    height: 391px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1600px) {
  .testimonials__user-review-card {
    position: relative;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 13px;
    width: 268px;
    background: #f1f3f2;
    border: 2px solid rgba(255, 105, 180, 0.5);
    border-radius: 15px;
    z-index: 1;
    margin-bottom: 0;
  }
}
.testimonials__user-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
.testimonials__user-icon {
  float: left;
  padding-top: 16px;
  padding-right: 10px;
}
.testimonials__user-name {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  display: inline-block;
}
.testimonials__user-location {
  font-family: "Roboto-Regular";
  font-weight: 300;
  font-size: 15px;
  color: #bdbdbd;
  display: inline-block;
}
.testimonials__user-comment {
  font-family: "Roboto-Regular";
  font-weight: 300;
  font-size: 15px;
  color: #767474;
  margin-top: 12px;
  line-height: 1.3;
}
@media (min-width: 1600px) {
  .testimonials__user-comment {
    line-height: 1.2;
  }
}
.testimonials__btn-wrap {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .testimonials__btn-wrap {
    justify-content: flex-start;
    padding-left: 100px;
  }
}
@media (min-width: 1600px) {
  .testimonials__btn-wrap {
    padding-left: 0px;
  }
}
.testimonials__leave-feedback-btn {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 240px;
  background: #f9804b;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.6s ease-out;
  letter-spacing: 1px;
}
@media (min-width: 1200px) {
  .testimonials__leave-feedback-btn {
    width: 298px;
    margin-top: 10px;
  }
}
.testimonials__leave-feedback-btn:active {
  background: #4b9200;
}
.testimonials__leave-feedback-btn:hover {
  background: #4b9200;
  transition: all 0.6s ease-out;
}
.leav-photo {
  background-repeat: no-repeat;
  background-position: right bottom -6%;
  background-image: url("../assets/images/little-leav.png");
}
@media (min-width: 640px) {
  .leav-photo {
    background-position: right bottom -15%;
    background-image: url("../assets/images/middle-leav.png");
  }
}
@media (min-width: 1200px) {
  .leav-photo {
    background-position: right bottom -20%;
    background-image: url("../assets/images/small-leav.png");
  }
}
@media (min-width: 1600px) {
  .leav-photo {
    background-image: url("../assets/images/leav-foto.png");
  }
}
.line-csroll {
  text-align: center;
  display: none;
}
@media (min-width: 1200px) {
  .line-csroll {
    display: block;
  }
}
.input-line-csroll {
  height: 20px;
  margin: 20px;
  width: 600px;
  border: 0.5px solid;
  border-color: #fe9013;
  appearance: none;
  height: 8px;
  left: calc(-250%);
  background: #f5f7f6;
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .input-line-csroll {
    width: 390px;
  }
}
@media (min-width: 1600px) {
  .input-line-csroll {
    width: 600px;
  }
}
.input-line-csroll::-webkit-slider-thumb {
  cursor: pointer;
  width: 115px;
  height: 6px;
  appearance: none;
  background: #fe9013;
  border-radius: 5px;
}
.footer {
  padding-top: 45px;
  padding-bottom: 40px;
  background-color: #111115;
  max-width: 940px;
  margin: 0 auto;
  padding: 18px 0px 25px 0px;
}
@media (min-width: 640px) {
  .footer {
    max-width: 640px;
    padding: 12px 0px 15px 0px;
  }
}
@media (min-width: 1200px) {
  .footer {
    max-width: 940px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1600px) {
  .footer {
    max-width: 1160px;
  }
}
.footer__top-row {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 640px) {
  .footer__top-row {
    flex-direction: row;
    align-items: flex-start;
  }
}
.footer__bottom-row {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 640px) {
  .footer__bottom-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.footer__column {
  max-width: 300px;
  text-align: center;
}
@media (min-width: 640px) {
  .footer__column {
    text-align: left;
  }
}
.footer__logo {
  text-align: center;
  display: inline-block;
  padding-bottom: 6px;
  position: relative;
  margin-bottom: 30px;
  order: 1;
}
@media (min-width: 640px) {
  .footer__logo {
    border: 1px solid #ffffff;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    max-width: 82px;
    padding-bottom: 6px;
    position: relative;
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 67px;
  }
}
.footer__logo__img {
  position: absolute;
  width: 12px;
  height: 25px;
  right: 44px;
  top: 0;
}
@media (min-width: 640px) {
  .footer__logo__img {
    left: 8px;
    top: 24px;
    width: 13px;
    height: 25px;
  }
}
.footer__logo__text {
  font-family: "Roboto-Regular";
  font-size: 19px;
  color: #fff;
  padding-top: 3px;
  line-height: 1.3;
}
.footer__nav {
  order: 2;
}
@media (min-width: 640px) {
  .footer__nav {
    order: 1;
  }
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
}
.footer__list-item {
  display: inline-block;
  margin-right: 27px;
}
@media (min-width: 640px) {
  .footer__list-item {
    margin-right: 33px;
  }
}
@media (min-width: 1200px) {
  .footer__list-item {
    margin-right: 50px;
  }
}
@media (min-width: 1600px) {
  .footer__list-item {
    margin-right: 55px;
  }
}
.footer__list-item:last-child {
  margin-right: 0;
}
.footer__list-item a {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}
.footer__donation-btn {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  text-align: center;
  background: #f9804b;
  border-radius: 5px;
  margin-bottom: 44px;
  transition: all 0.6s ease-out;
}
.footer__donation-btn--dnone-320px {
  display: none;
}
@media (min-width: 640px) {
  .footer__donation-btn--dnone-320px {
    display: block;
    font-family: "Roboto-Medium";
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    text-align: center;
    background: #f9804b;
    border-radius: 5px;
    margin-bottom: 44px;
    transition: all 0.6s ease-out;
  }
}
.footer__donation-btn--dnone-640 {
  display: block;
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  text-align: center;
  background: #f9804b;
  border-radius: 5px;
  margin-bottom: 40px;
  transition: all 0.6s ease-out;
}
@media (min-width: 640px) {
  .footer__donation-btn--dnone-640 {
    display: none;
  }
}
.footer__donation-btn:active {
  background: #4b9200;
}
.footer__donation-btn:hover {
  background: #4b9200;
  transition: all 0.6s ease-out;
}
.copy {
  max-width: 230px;
  order: 1;
  margin-left: 72px;
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .copy {
    order: 2;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.copy .text {
  font-family: "Roboto-Thin";
  font-weight: 100;
  font-size: 16px;
  color: #767474;
  display: inline-block;
  margin-bottom: 10px;
}
.social-icons {
  display: inline-block;
  display: none;
}
@media (min-width: 1200px) {
  .social-icons {
    display: block;
  }
}
.social-icons--top-list {
  display: inline-block;
  display: none;
}
@media (min-width: 640px) {
  .social-icons--top-list {
    display: block;
  }
}
@media (min-width: 1200px) {
  .social-icons--top-list {
    display: none;
  }
}
.social-icons--top-list-640 {
  display: block;
  margin-bottom: 40px;
}
@media (min-width: 640px) {
  .social-icons--top-list-640 {
    display: none;
  }
}
.social-icons__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
@media (min-width: 1200px) {
  .social-icons__list {
    margin-right: 120px;
  }
}
.social-icons__list-item {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  margin-right: 30px;
  display: inline-block;
}
.social-icons__list-item:last-child {
  margin-right: 0;
}
@media (min-width: 640px) {
  .social-icons__list-item {
    margin-bottom: 20px;
    margin-right: 0;
    display: block;
  }
}
@media (min-width: 1200px) {
  .social-icons__list-item {
    margin-bottom: 10px;
  }
}
.social-icons__list-item-link {
  display: flex;
  align-items: center;
}
.social-icons__list-item-img {
  display: inline-block;
}
.social-icons__social-icons-name {
  margin-left: 13px;
  display: inline-block;
  font-family: "Roboto-Regular";
  font-style: 400;
  font-size: 16px;
  color: #ffffff;
}
.form {
  text-align: center;
  max-width: 230px;
}
@media (min-width: 640px) {
  .form {
    display: none;
  }
}
@media (min-width: 1200px) {
  .form {
    text-align: left;
    max-width: 376px;
    display: block;
  }
}
.form__title {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 0.7;
}
@media (min-width: 1200px) {
  .form__title {
    font-size: 24px;
  }
}
.form__input {
  width: 228px;
  border: 0.7px solid #f9804b;
  background: #111115;
  border-radius: 2px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 8px;
  color: #bdbdbd;
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .form__input {
    margin-right: 7px;
    margin-bottom: 0;
  }
}
.form__input::placeholder {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #bdbdbd;
}
.form__btn {
  max-width: 129px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  cursor: pointer;
  color: red;
  border: 0.7px solid #d31414;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 11px 40px;
  background: #f1f3f2;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .form__btn {
    margin-bottom: 0;
  }
}
input,
button {
  border: none;
  outline: none;
}
