.features {
  padding-top: 150px;
  padding-bottom: 180px;

  &__content {
    display: flex;
  }

  &__text-content {
    padding-left: 85px;
  }
  &__title {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 48px;
    color: #333b41;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.5px;
    margin-bottom: 50px;
    line-height: 1.3;
    color: #333b41;
  }

  &__desc-title {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 24px;
    color: #333b41;
  }
  &__desc-subtitle {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.5px;
    padding-top: 10px;
    line-height: 1.4;
    color: #333b41;
  }
}

.flower {
  background-repeat: no-repeat;
  background-position: top 10% right;

  @media (min-width: 1500px) {
    background-image: url("/assets/images/flower_foto.png");
  }
}
